<h2 class="mx-0"><%= t(:edit_user) %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs m-0">
    <%= f.input :email, required: true, autofocus: true, disabled: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :first_name,
                required: true %>
    <%= f.input :last_name,
                required: true %>
    <%= f.input :password,
                hint: t(:leave_it_blank_if_you_don_t_want_to_change_it),
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: t(:we_need_your_current_password_to_confirm_your_chan),
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:update) %>
  </div>
<% end %>

<h2 class="mx-0"><%= t(:cancel_my_account) %></h2>
<div class="container mx-0 px-0">
  <%= link_to t(:cancel_my_account), registration_path(resource_name), data: { confirm: t(:are_you_sure) }, method: :delete %>
  <%= link_to t(:back), :back %>
</div>
