<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Task Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header>
      <%= render 'shared/navbar' %>
      <div class="container mt-2">
        <% flash.each do |type, msg| %>
          <div class="alert alert-<%= type %>">
            <%= msg %>
          </div>
        <% end %>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
